# Server Configuration
NODE_ENV=development
PORT=5000

# Database Configuration
DATABASE_URL=postgresql://username:password@localhost:5432/drawing_from_memory

# Redis Configuration
REDIS_URL=redis://localhost:6379

# Client Configuration
REACT_APP_SERVER_URL=http://localhost:5000
